/* Swei Gothic 字体定义 */
@font-face {
    font-family: 'SweiGothic';
    src: url('@/assets/character/swei/CJK SC/SweiGothicCJKsc-Regular.woff2') format('woff2'),
         url('@/assets/character/swei/CJK SC/SweiGothicCJKsc-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SweiGothic';
    src: url('@/assets/character/swei/CJK SC/SweiGothicCJKsc-Light.woff2') format('woff2'),
         url('@/assets/character/swei/CJK SC/SweiGothicCJKsc-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SweiGothic';
    src: url('@/assets/character/swei/CJK SC/SweiGothicCJKsc-Medium.woff2') format('woff2'),
         url('@/assets/character/swei/CJK SC/SweiGothicCJKsc-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SweiGothic';
    src: url('@/assets/character/swei/CJK SC/SweiGothicCJKsc-Bold.woff2') format('woff2'),
         url('@/assets/character/swei/CJK SC/SweiGothicCJKsc-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: rgb(239, 239, 239);
    border-radius: 2px;
}

::-webkit-scrollbar-thumb {
    background: #bfbfbf;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #bfbfbf;
}

::-webkit-scrollbar-corner {
    background: #bfbfbf;
}

:root {
    --link: #007fff;
    --pink: #FF6699;
    --text2: #61666d;
    --icon: #9499a0;
}

body {
    padding: 0px;
    margin: 0px;
    font-size: 14px;
    color: #636d7e;
    font-family: 'SweiGothic', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: middle;
    font-family: inherit;
}

.a-link {
    text-decoration: none;
    color: var(--link);
    cursor: pointer;
}

.el-form-item {
    align-items: center;
}

.container-body {
    margin: 0px auto;
    padding-top: 5px;
}

.el-button {
    .iconfont::before {
        margin-right: 5px;
    }
}